/* Basic CSS Syntax

1. Selectors */


/* ELement selector */
p{
    background-color: antiquewhite;
}

h1,h2,h3{
    /* all these vales are text properties, like color, font-family,font-size */
    color:yellow;
    font-family: cursive;
    font-size: larger;
}

input[type="text"]{
    border:6px solid #ccc;
}


/* id selector */
#testing1{
    color:aqua;
}

#testing2{
    color:green;
}


/* class selector */
.para1{
    color:darksalmon;
}

.para2{
    color:cyan;
}


/* Universal selector : it will apply as default */ 
/* *{
    background-color: yellow;
} */

